.corpo {
    display: flex;
    flex-direction: row;
    width: 100%;
    
    gap: 30px;
  }

.topbar{
    color:#67748E;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;

    img{
        width: clamp(165px, 30vw, 250px);
        height: clamp(165px, 30vw, 250px);
        
        object-fit: cover;
        object-position: center;
        border-radius: 5px;
    }

    .descr{
        display: flex;
        flex-direction: column;
        width: clamp(10px ,30vw, 300px);
        //background-color: red;
    }

}

.btnReserva {
    margin: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}    


h1 {
    color: black;
    font-size: 1em;
    text-transform: capitalize;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}

h2{
    font-size: 0.7em;
    font-weight: 500;
    overflow: hidden; 
    width: 100%;
    overflow-wrap: break-word;
    padding: 2px 0;

    span {
        //color:#67748E;

        
        padding: 4px;
        
        background-color:#d3dfd7;
        //background-color: #4CAF50;
        color: rgb(64, 66, 64);

        font-weight: bolder;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
}
}

h2:nth-of-type(1){
    text-transform: capitalize;
}



h3{
    font-size: 15px;
}
p:nth-of-type(1){
    text-transform: lowercase;
}

p::first-letter{
    text-transform: capitalize;
}


p{
    font-size: 12px;
}


.perguntas1 {
    width: 300px;
}

@media only screen and (max-width: 770px) {


    .corpo {
        display: flex;
        flex-direction: column;
        width: 100%;

        .topbar {
            display: flex;
            flex-direction: row;
            padding: none;

            .descr {
                width: 100%;
                //margin-right: 80px;
                //background-color: blue;
                //border: 10px solid green;
            }
        }        

    }

    .btnReserva {
        display: block;
        margin: 15px 5px;
    }    

    .perguntas1 {
        width: 100%;
    }
  }