.corpo {
    display: flex;
    flex-direction: row;
    width: 100%;
    
    gap: 30px;
  }

.topbar{
    color:#67748E;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;

    img{
        width: clamp(165px, 30vw, 250px);
        height: clamp(165px, 30vw, 250px);
        border-radius: 5px;
    }

    .descr{
        display: flex;
        flex-direction: column;
        width: clamp(10px ,30vw, 300px);
    }

}

.btnReserva {
    margin: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}    


h1 {
    color: black;
    font-size: 1em;
    text-transform: capitalize;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}

h2{
    font-size: 0.7em;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}

h2:nth-of-type(1){
    text-transform: capitalize;
}



h3{
    font-size: 15px;
}
p:nth-of-type(1){
    text-transform: lowercase;
}

p::first-letter{
    text-transform: capitalize;
}


p{
    font-size: 12px;
}


.perguntas1 {
    width: 300px;
}

@media only screen and (max-width: 770px) {
    .corpo {
        display: flex;
        flex-direction: column;
        width: 100%;

        .descr {
            width: 100%;
        }

    }

    .btnReserva {
        display: block;
        margin: 15px 5px;
    }    

    .perguntas1 {
        width: 100%;
    }
  }